@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&family=Roboto:wght@300&display=swap");

/* .volunteer-detail {
  position: relative;
}
.volunteer-detail .detail-content {
  position: absolute;
  top: 50%;
  left: 15%;
}

@media only screen and (max-width: 1300px) {
    .volunteer-detail .detail-content {
        position: absolute;
        top: 50%;
        left: 20%;
    }
  } */

.volunteer-detail .detail-content h4 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  align-items: center;
  color: #224957;
}

.volunteer-detail .detail-content .profile {
  background: #e5fae9;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #575656;
}
.volunteer-detail .detail-content .desire {
  background: #e5fae9;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #575656;
}

.volunteer-detail .detail-content .desire li {
  display: list-item;
}

.volunteer-detail .button-approve {
  display: flex;
  justify-content: space-evenly;
}

.volunteer-detail .button-approve button {
  width: 130px;
  height: 45px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #100e0e;
}

.volunteer-detail .button-approve .approve {
  background: #77e5a3;
  border-radius: 5px;
  border: none;
}

.volunteer-detail .button-approve .approve:hover {
  background: #3ac571;
}

.volunteer-detail .button-approve .inactive {
  background: #a3a1a1;
  border-radius: 5px;
  border: none;
}

.volunteer-detail .button-approve .inactive:hover {
  background: rgb(139, 133, 133);
}
