@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&family=Roboto:wght@300&display=swap");

@media only screen and (min-width: 1300px) {
  .volunteer-list .list {
    width: 1180px !important;
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1500px) {
  .volunteer-list .list {
    width: 1180px !important;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 1300px) {
  .volunteer-list .list {
    margin-left: 18%;
  }
}

@media only screen and (max-width: 600px) {
  .volunteerList-container {
    width: 380px !important;
    padding: 20px;
  }
}

.volunteer-list h4 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #224957;
}

.volunteer-list .search-bar {
  display: flex;
  justify-content: space-between;
  background: #f7f6f6;
  position: relative;
}

@media only screen and (max-width: 1300px) {
  .volunteer-list .search-bar {
    margin-left: 1%;
  }

  .volunteer-list .list h4 {
    margin-left: 1%;
  }

  .volunteer-list .icon {
    position: absolute;
    top: 50%;
    right: 200px; /* Adjust the value to position the icon as desired */
    transform: translateY(-50%);
  }
}

.volunteer-list .search-bar input {
  width: 150px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 15px;
  padding-left: 20px;
}

.volunteer-list .search-bar .search {
  background: #a2e4bc;
  text-align: center;
}

.volunteer-list .search-bar select {
  width: 150px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 6px;
  outline: none;
  color: #606060;
  padding-left: 10px;
  border: none;
}

.volunteer-list .icon {
  position: absolute;
  top: 50%;
  right: 60px; /* Adjust the value to position the icon as desired */
  transform: translateY(-50%);
}

.volunteer-list .table th {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  padding: 10px 10px;
  color: #575656;
}

.volunteer-list .table td {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #575656;
}

.volunteer-list .table .volunteer-name {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.volunteer-list .table .volunteer-name a {
  text-decoration: none;
  color: #218248;

}

.volunteer-list .paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.volunteer-list .paginationBttns a {
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.volunteer-list .paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.volunteer-list .paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.volunteer-list .paginationDisabled a {
  color: grey;
  background-color: grey;

}

