@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}


h1 {
  font-size: 4rem !important;
  font-weight: 400 !important;
  color: #094d58;
}

h6 {
  color: #094d58;
}

input {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  padding: 9px 12px;
  outline: none;
  border: none;
  background-color: #094d58;
  color: white;
}

input :focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-email{
  margin-bottom: 40px;

}

.input-password{
  margin-bottom: 40px;

}


.button {
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 50px;
  width: 300px;
  border: none;
  background:#24d985;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: #14917c;
}

.button:hover .svg-icon {
  animation: flickering 2s linear infinite;
}

@keyframes flickering {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  52% {
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  56% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  94% {
    opacity: 1;
  }

  96% {
    opacity: 0;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a{
  color:black !important;
  text-decoration: none !important;
}
